.container{
    width: 90%;
    margin: auto;
    /* background-color: blue; */
    
}
table{
    width: 90%;
    margin: auto;
    text-align: center;
  
}
.chek,.goo{
    background-color: green;
    color: white;
    border-radius: 2px;
    padding: 1px;
}
caption,.cap{
    /* background-color: red; */
    /* border: 1px solid; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 15px;
}
table,tr,th,td{
    /* background-color: aqua; */
    border-bottom: 2px solid gray;
    border-collapse: collapse;
    
}
.thc,th{
    background-color: #0b0becad;
    color: white;
    padding: 10px;
}
td{
    padding: 15px;
}
.xxx{
    background-color: red;
    color: white;
    padding: 2px;
    border-radius: 2px;
}